.position{
position:absolute;
z-index:1;
}

.five{
  display:none
  
}





.four:hover .five{
  display: block;

}

.a:hover {
  background-color: rgb(233, 227, 227);
  
}

.hov-1{
  background-color: gray;
  font-family: monospace;
}

.hov-1:hover{
  background-color: black;
}

.adjust1{
  
  display: none;
  
  height:70px;

}

@media (max-width: 990px){
.adjust1{display: block;}
}

.adjust2{
  margin-top: 90px;
  display: flex;
  
  height:70px;

}
 
@media (max-width: 990px){
.adjust2{display: none;}
} 